<div [style]="{'display':openPopup()?'block':'none'}" data-bs-backdrop="true" class="modal">
  <div class="modal-dialog modal-sm" role="document">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">Filtrer</h5>
        <button (click)="closeModal()" type="button" class="btn-close" data-bs-dismiss="modal"
                aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form [formGroup]="formGroup">
          <div class="mb-3">
            <label for="commissionFilter" class="form-label">Commission</label>
            <select id="commissionFilter" formControlName="commission" class="form-select">
              <option value="">Toutes</option>
               <option *ngFor="let commission of commissions" [value]="commission.id">{{ commission.name }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="clubFilter" class="form-label">Club</label>
            <select id="clubFilter" formControlName="club" class="form-select">
              <option value="">Tous</option>
              <option *ngFor="let club of clubs" [value]="club.id">{{ club.name }}</option>
            </select>
          </div>
          <div class="mb-3">
            <label for="yearFilter" class="form-label">Année</label>
            <select id="yearFilter" formControlName="year" class="form-select">
              <option value="">Toutes</option>
              <option *ngFor="let year of years" [defaultSelected]="year.currentYear"  [value]="year.id">{{ year.session }}</option>
            </select>
          </div>
        </form>
      </div>
      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-secondary" (click)="closeModal()" data-bs-dismiss="modal">Annuler
        </button>
        <button type="button" class="btn btn-outline-success" (click)="applyFilters()">Appliquer</button>
      </div>
    </div>
  </div>
</div>
