<div class="form-container">
  <h2 class="form-title">Formulaire d'inscription d'un nouveau membre</h2>
  <p class="form-subtitle">Suivez les étapes pour compléter l'inscription.</p>

  <!-- Barre de progression -->
  <div class="progress-bar">
    <div [style.width.%]="(currentStep - 1) * 25" class="progress-bar-fill"></div>
  </div>

  <form (ngSubmit)="onSubmit()" [formGroup]="mainForm">

    <div class="wizard-content">
      <!-- Étape 1 -->
      <div *ngIf="currentStep === 1" class="step">
        <h3 class="step-title">Étape 1: Informations Personnelles</h3>
        <app-personal-info-form formControlName="personalInfo"></app-personal-info-form>
      </div>

      <!-- Étape 2 -->
      <div *ngIf="currentStep === 2" class="step">
        <h3 class="step-title">Étape 2: Coordonnées et Contact d'Urgence</h3>
        <app-contact-info-form formControlName="contactInfo"></app-contact-info-form>
      </div>

      <!-- Étape 3 -->
      <div *ngIf="currentStep === 3" class="step">
        <h3 class="step-title">Étape 3: Parcours Académique</h3>
        <app-academic-info-form formControlName="academicInfo"></app-academic-info-form>
      </div>

      <!-- Étape 4 -->
      <div *ngIf="currentStep === 4" class="step">
        <h3 class="step-title">Étape 4: Connaissances Religieuses</h3>
        <app-religious-knowledge-form formControlName="religiousKnowledge"></app-religious-knowledge-form>
      </div>

      <!-- Étape 5 -->
      <div *ngIf="currentStep === 5" class="step">
        <h3 class="step-title">Étape 5: Engagements</h3>
        <app-engagements-form
          [bourses]="bourses"
          [clubs]="clubs"
          [commissions]="commissions"
          formControlName="engagements"
        ></app-engagements-form>
      </div>
    </div>

    <div class="form-actions">
      <button (click)="previousStep()" [disabled]="currentStep === 1" class="button-secondary" type="button">Précédent
      </button>

      <button (click)="nextStep()" *ngIf="currentStep < 5" class="button-primary" type="button">Suivant</button>

      <button *ngIf="currentStep === 5" class="button-primary" type="submit">Soumettre l'inscription</button>
    </div>
  </form>
</div>
