<div class="container-fluid p-0">
  <div class="row no-gutters">
    <div class="col-md-2 sidebar sticky-sidebar">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" routerLink="/members/member/register-form">
            <i class="fas fa-home"></i> Formulaire
          </a>
        </li>
        <hr>
        <li class="nav-item">
          <a class="nav-link" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }" routerLink="/members/member/list-members">
            <i class="fas fa-user-friends"></i> Contacts
          </a>
        </li>
        <hr>
        <!-- Ajoutez d'autres éléments de menu ici -->
      </ul>
    </div>
    <div class="col-md-10 content-area">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
