<div class="container mt-4">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h2 class="mb-0">Gestion des Bourses</h2>
    <button *ngIf="!displayForm; else closeButton" (click)="handleDisplayForm()"
            class="btn btn-outline-success shadow-sm">
      <i class="bi bi-plus-circle me-1"></i> Ajouter Une Bourse
    </button>
    <ng-template #closeButton>
      <button (click)="handleDisplayForm()" class="btn btn-outline-danger shadow-sm">
        <i class="bi bi-x-circle me-1"></i> Annuler
      </button>
    </ng-template>
  </div>

  <div class="container mt-4">
    <div *ngIf="displayForm" class="card shadow-sm mb-4">
      <div class="card-header">
        <h4 class="mb-0">Ajouter une Bourse</h4>
      </div>
      <div class="card-body">
        <form [formGroup]="bourseForm" (ngSubmit)="onSubmit()">
          <div class="mb-3">
            <label for="lebelle" class="form-label">Libellé de la Bourse</label>
            <input type="text" id="lebelle" class="form-control" formControlName="lebelle">
            <div *ngIf="bourseForm.get('lebelle')?.invalid && bourseForm.get('lebelle')?.touched" class="text-danger">
              <small *ngIf="bourseForm.get('lebelle')?.errors?.['required']">Le libellé est requis.</small>
              <small *ngIf="bourseForm.get('lebelle')?.errors?.['minlength']">Le libellé doit avoir au moins 3
                caractères.</small>
            </div>
          </div>

          <div class="mb-3">
            <label for="montant" class="form-label">Montant</label>
            <input type="number" id="montant" class="form-control" formControlName="montant">
            <div *ngIf="bourseForm.get('montant')?.invalid && bourseForm.get('montant')?.touched" class="text-danger">
              <small *ngIf="bourseForm.get('montant')?.errors?.['required']">Le montant est requis.</small>
              <small *ngIf="bourseForm.get('montant')?.errors?.['min']">Le montant doit être supérieur à 0.</small>
            </div>
          </div>

          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-outline-success" [disabled]="bourseForm.invalid || !bourseForm.dirty">
              Enregistrer
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <div class="card shadow-sm mb-4">
    <div class="card-body">
      <!-- Tableau des bourses -->
      <table class="table table-hover">
        <thead class="thead-light">
        <tr>
          <th>Libellé</th>
          <th>Montant</th>
          <th class="text-center">Actions</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let bourse of bourses">
          <td>{{ bourse.lebelle }}</td>
          <td>{{ bourse.montant | currency: 'XOF' : 'symbol' : '1.0-0' : 'fr' }}</td>
          <td class="text-center">
            <button (click)="onUpdate(bourse.bourseId)" class="btn btn-outline-warning btn-sm me-2">
              <i class="bi bi-pencil"></i> Modifier
            </button>
            <button (click)="deleteBourse(bourse.bourseId)" class="btn btn-outline-danger btn-sm">
              <i class="bi bi-trash"></i> Supprimer
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
