<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
  <div class="col-md-6 col-12">
    <div class="card">
      <div class="card-header text-center">Première connexion</div>
      <div class="card-body">

        <div class="alert alert-info text-center" role="alert">
          <i class="bi bi-info-circle-fill me-2"></i>
          Bienvenue ! Veuillez définir un nouveau mot de passe pour activer votre compte.
        </div>

        <form (ngSubmit)="handlePasswordChange()" [formGroup]="formGroup">
          <div>
            <label class="form-label">Nouveau mot de passe</label>
            <input class="form-control" formControlName="password" type="password">
          </div>
          <div class="mt-3">
            <label class="form-label">Confirmer le mot de passe</label>
            <input class="form-control" formControlName="confirmPassword" type="password">
          </div>
          <div *ngIf="errorMessage" class="alert alert-danger mt-3">
            {{ errorMessage }}
          </div>
          <div>
            <button [disabled]="formGroup.invalid || isLoading" class="btn-connexion mt-3 form-control btn btn-primary"
                    type="submit">
              <span *ngIf="isLoading" aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
              Définir le mot de passe
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
