<div class="container-fluid vh-100 d-flex justify-content-center align-items-center">
  <div class="col-md-6 col-12">
    <div class="card">
      <div class="card-header text-center">Changer votre mot de passe</div>
      <div class="card-body">
        <form [formGroup]="formGroup" (ngSubmit)="handleChangePassword()">
          <div>
            <label class="form-label">Ancien mot de passe</label>
            <input type="password" class="form-control" formControlName="oldPassword">
          </div>
          <div>
            <label class="form-label">Nouveau mot de passe</label>
            <input type="password" class="form-control" formControlName="newPassword">
          </div>
          <div>
            <label class="form-label">Confirmer le nouveau mot de passe</label>
            <input type="password" class="form-control" formControlName="confirmPassword">
          </div>
          <div *ngIf="errorMessage" class="alert alert-danger mt-3">
            {{ errorMessage }}
          </div>
          <div>
            <button [disabled]="formGroup.invalid || isLoading" type="submit"
                    class="btn-connexion mt-3 form-control btn btn-primary">
              <span *ngIf="isLoading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
              Changer le mot de passe
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>