@import '../../styles/auth-forms';

/*
* Styles spécifiques pour le composant PasswordForgotten.
*/
.completed-step-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.25rem;
  background-color: #f8f9fa;
  border: 1px solid #dee2e6;
  border-radius: 0.8rem;

  span {
    font-weight: 700;
    color: #495057;
  }

  a {
    font-size: 1.4rem;
    font-weight: 700;
  }
}

.alert.alert-info {
  background-color: #e7f3fe;
  border-color: #d0eaff;
  color: #0c5460;
}
