<div class="login-form-content">
  <img alt="AEMUD Logo" class="logo" src="assets/background/logo_aemud_Plan_de_travail_1.png">
  <h2 class="form-title">Changer votre mot de passe</h2>
  <p class="form-subtitle">Pour des raisons de sécurité, choisissez un mot de passe fort.</p>

  <div class="card shadow-lg">
    <div class="card-body p-4">
      <form (ngSubmit)="handleChangePassword()" [formGroup]="formGroup">
        <div class="form-floating mb-3">
          <input class="form-control" formControlName="oldPassword" id="oldPassword" placeholder="Ancien mot de passe"
                 type="password">
          <label for="oldPassword">Ancien mot de passe</label>
          <app-validation-message [control]="formGroup.get('oldPassword')"></app-validation-message>
        </div>
        <div class="form-floating mb-3">
          <input class="form-control" formControlName="newPassword" id="newPassword" placeholder="Nouveau mot de passe"
                 type="password">
          <label for="newPassword">Nouveau mot de passe</label>
          <app-validation-message [control]="formGroup.get('newPassword')"></app-validation-message>
        </div>
        <div class="form-floating mt-3">
          <input class="form-control" formControlName="confirmPassword" id="confirmPassword"
                 placeholder="Confirmer le nouveau mot de passe" type="password">
          <label for="confirmPassword">Confirmer le nouveau mot de passe</label>
          <app-validation-message [control]="formGroup.get('confirmPassword')"></app-validation-message>
        </div>
        <div>
          <button [disabled]="formGroup.invalid || isLoading" class="btn-connexion mt-4 w-100 btn btn-primary"
                  type="submit">
            <span *ngIf="isLoading" aria-hidden="true" class="spinner-border spinner-border-sm" role="status"></span>
            Changer le mot de passe
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
