/* Styles pour les cartes */
@import "variables"; // Import des variables de couleur

.card-img-top {
  width: 20%;
  vertical-align: center;
}

.card-header {
  background-color: $primary; // Utilisation de la couleur principale
color: white; // Texte en blanc pour contraster avec le fond
}

.card {
  border: 1px solid rgba(0, 0, 0, 0.125); // Bordure légère
border-radius: 0.5rem; // Coins arrondis
transition: transform 0.3s ease, box-shadow 0.3s ease; // Animation au survol

&:hover {
  transform: translateY(-5px); // Légère élévation au survol
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); // Ombre portée au survol
}
}

.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}

.card-text {
  color: $dark; // Utilisation de la couleur sombre pour le texte
}

.btn-outline-success {
  border-color: $secondary; // Utilisation de la couleur secondaire pour la bordure
color: $secondary; // Utilisation de la couleur secondaire pour le texte

&:hover {
  background-color: $secondary; // Fond de la couleur secondaire au survol
color: white; // Texte en blanc au survol
}
}
