@import 'variables';

.app-container {
  display: grid;
  grid-template-columns: 24rem 1fr; // sidebar ouverte = 250px
  height: 100vh;
  transition: grid-template-columns 0.3s ease-in-out;
  &.sidebar--collapsed {
    grid-template-columns: 5rem 1fr;
  }

}

app-aside-bare {
  color: $color-text-on-primary;
  overflow: hidden;
  transition: width 0.3s ease-in-out;
  .nav-text,
  .user-details,
  .logout-btn span {
    transition: opacity 0.2s ease-in-out;
  }

  .sidebar--collapsed & {
    .nav-text,
    .user-details,
    .logout-btn span {
      opacity: 0;
      pointer-events: none;
    }
  }
}

.main-content {
  background-color: $gray-100;
  overflow-y: auto;
  padding: 0 ;

}
