<div class="container my-4">
  <div class="card shadow-sm">
    <div class="card-body">
      <div class="mb-3">
        <h5 class="text-muted text-center">Informations Académiques</h5>
        <app-info-academic (academicInfoEvent)="onAcademicInfoSubmit($event)"></app-info-academic>
      </div>
      <div class="mb-3">
        <h5 class="text-muted text-center">Informations d'Adresse</h5>
        <app-info-address (addressInfoEvent)="onAddressInfoSubmit($event)"></app-info-address>
      </div>
      <div class="mb-3">
        <h5 class="text-muted text-center">Informations de Contact</h5>
        <app-info-contact (contactInfoEvent)="onContactInfoSubmit($event)"></app-info-contact>
      </div>
    </div>
  </div>

  <div class="d-grid gap-2 mt-4">
    <div class="row justify-content-end">
      <div class="col-auto">
        <button class="btn btn-outline-secondary"
                [disabled]="!stepperService.academicInfoSaved || !stepperService.addressInfoSaved || !stepperService.contactInfoSaved"
                (click)="onPrevious()">Précedent
        </button>
      </div>
      <div class="col-auto">
        <button class="btn btn-outline-success"
                [disabled]="!stepperService.academicInfoSaved || !stepperService.addressInfoSaved || !stepperService.contactInfoSaved"
                (click)="onSubmit()">Soumettre
        </button>
      </div>
    </div>
  </div>
</div>
