<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card">
        <div class="card-header">Mot de Passe Oublié</div>
        <div class="card-body">
          <div *ngIf="!isSubmitted; else confirmation">
            <form [formGroup]="formGroup" (ngSubmit)="onSubmit()">
              <div class="mb-3">
                <label for="email" class="form-label">Adresse Email</label>
                <input type="email" id="email" class="form-control" formControlName="email"
                       [class.is-invalid]="formGroup.get('email')?.invalid && formGroup.get('email')?.touched">
                <div *ngIf="formGroup.get('email')?.invalid && formGroup.get('email')?.touched" class="invalid-feedback">
                  Veuillez entrer une adresse email valide.
                </div>
              </div>
              <button type="submit" class="btn btn-primary" [disabled]="formGroup.invalid">Réinitialiser le mot de passe</button>
              <div class="mt-2 text-end">
                <a [routerLink]="['/auth', 'login']">Retour à la connexion</a>
              </div>
            </form>
          </div>
          <ng-template #confirmation>
            <div class="alert alert-success" role="alert">
              <p>Si un compte avec cette adresse e-mail existe, un lien de réinitialisation de mot de passe a été envoyé.</p>
            </div>
          </ng-template>
        </div>
      </div>
    </div>
  </div>
</div>