<div class="container mt-2">
  <form [formGroup]="membershipFormGroup" novalidate>
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="mb-0 text-center">Informations d'adhésion</h5>
      </div>
      <div class="card-body">

        <div class="mb-3">
          <label for="yearOfBac" class="form-label">Année de bac</label>
          <input
            id="yearOfBac"
            formControlName="yearOfBac"
            class="form-control"
            [ngClass]="{ 'is-invalid': membershipFormGroup.get('yearOfBac')?.invalid && membershipFormGroup.get('yearOfBac')?.touched }"
            placeholder="Entrez l'année d'obtention du bac"
          />
          <div
            *ngIf="membershipFormGroup.get('yearOfBac')?.invalid && membershipFormGroup.get('yearOfBac')?.touched"
            class="invalid-feedback">
            L'année d'obtention du bac est requise.
          </div>
        </div>
        <div class="mb-3">
          <label for="bacSeries" class="form-label">BAC: Série</label>
          <select
            id="bacSeries"
            formControlName="bacSeries"
            class="form-control"
            [ngClass]="{ 'is-invalid': membershipFormGroup.get('bacSeries')?.invalid && membershipFormGroup.get('bacSeries')?.touched }"
          >
            <option [defaultSelected]="1==1" value="" disabled selected>-- Sélectionnez votre série --</option>
            <option value="S1">Série S1</option>
            <option value="S2">Série S2</option>
            <option value="S3">Série S3</option>
            <option value="L1">Série L'1</option>
            <option value="L2">Série L2</option>
            <option value="Technique">Technique</option>
            <option value="G">Série G</option>
          </select>
          <div
            *ngIf="membershipFormGroup.get('bacSeries')?.invalid && membershipFormGroup.get('bacSeries')?.touched"
            class="invalid-feedback"
          >
            Veuillez sélectionner une série valide pour votre BAC.
          </div>

          <div
            *ngIf="membershipFormGroup.get('bacSeries')?.invalid && membershipFormGroup.get('bacSeries')?.touched"
            class="invalid-feedback">
            La série au bac
          </div>
          <div class="mb-3">
            <label for="bacMention" class="form-label">BAC: Mention</label>
            <select
              id="bacMention"
              formControlName="bacMention"
              class="form-control"
              [ngClass]="{ 'is-invalid': membershipFormGroup.get('bacMention')?.invalid && membershipFormGroup.get('bacMention')?.touched }"
            >
              <option value="" disabled selected>-- Sélectionnez votre mention --</option>
              <option value="Très Bien">Très Bien</option>
              <option value="Bien">Bien</option>
              <option value="Assez Bien">Assez Bien</option>
              <option value="Passable">Passable</option>
              <option value="Sans Mention">Sans Mention</option>
            </select>
            <div
              *ngIf="membershipFormGroup.get('bacMention')?.invalid && membershipFormGroup.get('bacMention')?.touched"
              class="invalid-feedback"
            >
              Veuillez sélectionner une mention valide pour votre BAC.
            </div>
          </div>

          <div class="mb-3">
            <label for="legacyInstitution" class="form-label">Etablissement d'origine</label>
            <input
              id="legacyInstitution"
              formControlName="legacyInstitution"
              class="form-control"
              [ngClass]="{ 'is-invalid': membershipFormGroup.get('legacyInstitution')?.invalid && membershipFormGroup.get('legacyInstitution')?.touched }"
              placeholder="Entrez la mention au BAC"
            />
            <div
              *ngIf="membershipFormGroup.get('legacyInstitution')?.invalid && membershipFormGroup.get('legacyInstitution')?.touched"
              class="invalid-feedback">
              L'Etablissement d'origine est obligatoire
            </div>
          </div>

          <div class="mb-3">
            <label for="aemudCourses" class="form-label">Cours AEMUD</label>
            <input
              type="text"
              id="aemudCourses"
              formControlName="aemudCourses"
              class="form-control"
              [ngClass]="{ 'is-invalid': membershipFormGroup.get('aemudCourses')?.invalid && membershipFormGroup.get('aemudCourses')?.touched }"
              placeholder="Entrez les cours AEMUD"
            />
            <div
              *ngIf="membershipFormGroup.get('aemudCourses')?.invalid && membershipFormGroup.get('aemudCourses')?.touched"
              class="invalid-feedback">
              Les cours AEMUD sont requis.
            </div>
          </div>

          <div class="mb-3">
            <label for="otherCourses" class="form-label">Avez-vous suivi d'autres cours ? </label>
            <input
              type="text"
              id="otherCourses"
              formControlName="otherCourses"
              class="form-control"
              [ngClass]="{ 'is-invalid': membershipFormGroup.get('otherCourses')?.invalid && membershipFormGroup.get('otherCourses')?.touched }"
              placeholder="Entrez d'autres cours"
            />
            <div
              *ngIf="membershipFormGroup.get('otherCourses')?.invalid && membershipFormGroup.get('otherCourses')?.touched"
              class="invalid-feedback">
              Les autres cours sont requis.
            </div>
          </div>

          <div class="mb-3">
            <label for="participatedActivity" class="form-label">Activité Participée</label>
            <input
              type="text"
              id="participatedActivity"
              formControlName="participatedActivity"
              class="form-control"
              [ngClass]="{ 'is-invalid': membershipFormGroup.get('participatedActivity')?.invalid && membershipFormGroup.get('participatedActivity')?.touched }"
              placeholder="Entrez l'activité participée"
            />
            <div
              *ngIf="membershipFormGroup.get('participatedActivity')?.invalid && membershipFormGroup.get('participatedActivity')?.touched"
              class="invalid-feedback">
              L'activité est requise.
            </div>
          </div>

          <div class="mb-3">
            <label for="politicOrganisation" class="form-label">Organisation Politique</label>
            <input
              type="text"
              id="politicOrganisation"
              formControlName="politicOrganisation"
              class="form-control"
              [ngClass]="{ 'is-invalid': membershipFormGroup.get('politicOrganisation')?.invalid && membershipFormGroup.get('politicOrganisation')?.touched }"
              placeholder="Entrez l'organisation politique"
            />
            <div
              *ngIf="membershipFormGroup.get('politicOrganisation')?.invalid && membershipFormGroup.get('politicOrganisation')?.touched"
              class="invalid-feedback">
              L'organisation politique est requise.
            </div>
          </div>

          <!-- Select fields for commission, clubs, and bourse -->
          <div class="mb-3">
            <label for="commission" class="form-label">CommissionModel</label>
            <select id="commission" formControlName="commission" class="form-control">
              <option value="" [defaultSelected]="1==1" disabled>Sélectionnez une commission</option>
              <option *ngFor="let commission of commissions" value="{{commission.id}}">{{ commission.name }}</option>
            </select>
            <div
              *ngIf="membershipFormGroup.get('commission')?.invalid && membershipFormGroup.get('commission')?.touched"
              class="invalid-feedback">
              La commission est requise.
            </div>
          </div>

          <div class="mb-3">
            <label for="clubs" class="form-label">ClubModel</label>
            <select id="clubs" formControlName="clubs" class="form-control">
              <option value="" [defaultSelected]="1==1" disabled>Sélectionnez un club</option>
              <option *ngFor="let club of clubs" value="{{club.id}}">{{ club.name }}</option>
            </select>
            <div *ngIf="membershipFormGroup.get('clubs')?.invalid && membershipFormGroup.get('clubs')?.touched"
                 class="invalid-feedback">
              Le club est requis.
            </div>
          </div>

          <div class="mb-3">
            <label for="bourse" class="form-label">Bourse</label>
            <select id="bourse" formControlName="bourse" class="form-control">
              <option value="" [defaultSelected]="1==1" disabled>Sélectionnez une bourse</option>
              <option *ngFor="let bourse of bourses" value="{{bourse.bourseId}}">{{ bourse.lebelle }}</option>
            </select>
            <div *ngIf="membershipFormGroup.get('bourse')?.invalid && membershipFormGroup.get('bourse')?.touched"
                 class="invalid-feedback">
              La bourse est requise.
            </div>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
<div class="d-grid gap-2 mt-4">
  <div class="row justify-content-end">
    <div class="col-auto">
    </div>
    <div class="d-flex justify-content-end mt-4">
      <button *ngIf="!stepperService.membershipInfoSaved" class="btn btn-outline-success"
              [disabled]="membershipFormGroup.invalid" (click)="onSave()"><i
        class="bi bi-floppy2"></i> Enregister
      </button>
      <button *ngIf="stepperService.membershipInfoSaved" class="btn btn-outline-success"
              [disabled]="membershipFormGroup.invalid" (click)="onModify()"><i
        class="bi bi-floppy2"></i> Modifier
      </button>
    </div>
  </div>
</div>
