@import "variables";
.container {
  max-width: 900px;
}

.card {
  border-radius: 10px;
}

.accordion-button {
  font-weight: bold;
  color: #333;
}

.accordion-body {
  background: #f9f9f9;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  padding: 20px;
}

.btn {
  border-radius: 5px;
}
