<div class="container mt-2">
  <form [formGroup]="contactFormGroup">
    <!-- Member Info Section -->
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="numberPhone" class="form-label">Numéro de Téléphone</label>
              <input
                type="text"
                id="numberPhone"
                formControlName="numberPhone"
                class="form-control"
                [ngClass]="{ 'is-invalid': contactFormGroup.get('numberPhone')?.invalid && contactFormGroup.get('numberPhone')?.touched }"
                placeholder="+221XXXXXXXXX"
              />
              <div *ngIf="contactFormGroup.get('numberPhone')?.invalid && contactFormGroup.get('numberPhone')?.touched"
                   class="invalid-feedback">
                Numéro de téléphone invalide. Format requis : +221XXXXXXXXX.
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <label for="email" class="form-label">Adresse Email</label>
              <input
                type="email"
                id="email"
                formControlName="email"
                class="form-control"
                [ngClass]="{ 'is-invalid': contactFormGroup.get('email')?.invalid && contactFormGroup.get('email')?.touched }"
                placeholder="Entrez l'adresse email"
              />
              <div *ngIf="contactFormGroup.get('email')?.invalid && contactFormGroup.get('email')?.touched"
                   class="invalid-feedback">
                Adresse email invalide.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Person To Call Section -->
    <div class="card mb-4">
      <div class="card-header">
        <h5 class="mb-0">Personnes à Contacter</h5>
      </div>
      <div class="card-body">
        <div formArrayName="personToCalls">
          <div *ngFor="let person of personToCalls.controls; let i = index;" [formGroupName]="i" class="mb-4">
            <div class="row">
              <div class="col-md-6">
                <label for="lastname{{ i }}" class="form-label">Nom</label>
                <input
                  type="text"
                  id="lastname{{ i }}"
                  formControlName="lastname"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': person.get('lastname')?.invalid && person.get('lastname')?.touched }"
                  placeholder="Entrez le nom"
                />
                <div *ngIf="person.get('lastname')?.invalid && person.get('lastname')?.touched"
                     class="invalid-feedback">
                  Nom requis.
                </div>
              </div>

              <div class="col-md-6">
                <label for="firstname{{ i }}" class="form-label">Prénom</label>
                <input
                  type="text"
                  id="firstname{{ i }}"
                  formControlName="firstname"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': person.get('firstname')?.invalid && person.get('firstname')?.touched }"
                  placeholder="Entrez le prénom"
                />
                <div *ngIf="person.get('firstname')?.invalid && person.get('firstname')?.touched"
                     class="invalid-feedback">
                  Prénom requis.
                </div>
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-6">
                <label for="requiredNumberPhone{{ i }}" class="form-label">Téléphone Principal</label>
                <input
                  type="text"
                  id="requiredNumberPhone{{ i }}"
                  formControlName="requiredNumberPhone"
                  class="form-control"
                  [ngClass]="{ 'is-invalid': person.get('requiredNumberPhone')?.invalid && person.get('requiredNumberPhone')?.touched }"
                  placeholder="+221XXXXXXXXX"
                />
                <div *ngIf="person.get('requiredNumberPhone')?.invalid && person.get('requiredNumberPhone')?.touched"
                     class="invalid-feedback">
                  Téléphone principal invalide. Format requis : +221XXXXXXXXX.
                </div>
              </div>

              <div class="col-md-6">
                <label for="optionalNumberPhone{{ i }}" class="form-label">Téléphone Secondaire</label>
                <input
                  type="text"
                  id="optionalNumberPhone{{ i }}"
                  formControlName="optionalNumberPhone"
                  class="form-control"
                  placeholder="+221XXXXXXXXX"
                />
              </div>
            </div>

            <div class="row mt-3">
              <div class="col-md-6">
                <label for="relationship{{ i }}" class="form-label">Relation</label>
                <input
                  type="text"
                  id="relationship{{ i }}"
                  formControlName="relationship"
                  class="form-control"
                  placeholder="Entrez la relation"
                />
              </div>

              <div class="col-md-6">
                <button type="button" class="btn btn-danger mt-4" (click)="removePersonToCall(i)" [disabled]="i==0 || stepperDataService.contactInfoSaved">
                  Supprimer
                </button>
              </div>
            </div>
            <hr/>
          </div>
        </div>
        <button [disabled]="personToCalls.length>=2 || stepperDataService.contactInfoSaved" type="button" class="btn btn-outline-success"
                (click)="addPersonToCall()">Ajouter une personne
        </button>
      </div>
    </div>

    <!-- Submit Button -->
    <div *ngIf="!stepperDataService.contactInfoSaved" class="d-flex justify-content-end mt-4">
      <button class="btn btn-outline-success" [disabled]="contactFormGroup.invalid" (click)=" onSave()"><i class="bi bi-floppy2"></i> Enregister</button>
    </div>
    <div *ngIf="stepperDataService.contactInfoSaved" class="d-flex justify-content-end mt-4">
      <button class="btn btn-outline-success" (click)=" onModify()"><i class="bi bi-floppy2"></i> Modifier</button>
    </div>
  </form>
</div>
