
<div class="row p-2 pt-5 mt-3">
  <form [formGroup]="memberGroup" (ngSubmit)="saveUser()">
      <div class="row d-flex">
        <div class="col-md-4 flex-fill">
          <div class="card">
            <div class="card-header">
              <h4>Identification</h4>
            </div>
            <div class="car-body p-3">
              <div class="mb-3">
                <label class="mb-1" for="name">Nom</label>
                <input placeholder="Ex: Diallo" class="form-control" formControlName="name" id="name">
              </div>
              <div class="mb-3">
                <label class="mb-1" for="firstname">Prénom</label>
                <input placeholder="Ex: Fatima" class="form-control" formControlName="firstname" id="firstname">
              </div>

              <div class="mb-3">
                <label class="mb-1" for="nationality">Nationalité</label>
                <input placeholder="Ex: Sénégalais(e)" class="form-control" id="nationality"
                       formControlName="nationality">
              </div>

              <div class="mb-3">
                <label class="mb-1" for="birthday">Date de naissance</label>
                <input type="datetime-local" id="birthday" class="form-control" formControlName="birthday">
              </div>
              <div class="mb-3">
                <label class="mb-1" for="maritalStatus">Situation matrimoniale</label>
                <select formControlName="maritalStatus" id="maritalStatus" class="form-control">
                  <option disabled value="none">--Sélectionnez--
                  </option>
                  <option value="single">Célibataire
                  </option>
                  <option value="married">Marié
                  </option>
                </select>
              </div>


              <div class="mb-3">
                <label for="address" class="mb-1">Adresse à Dakar</label>
                <input placeholder="Ex:Dakar" type="text" class="form-control" id="address" formControlName="addressInDakar">
              </div>
              <div class="mb-3">
                <label class="mb-1" for="holidayAddress">Adresse Vaccances</label>
                <input placeholder="Ex:Ziginchore" type="text" class="form-control" id="holidayAddress"
                       formControlName="holidayAddress">
              </div>
              <div class="mb-3">
                <label class="mb-1" for="numberPhone">Téléphone</label>
                <input placeholder="78 899 20 19" type="text" class="form-control" id="numberPhone"
                       formControlName="numberPhone">
              </div>
              <div class="mb-3">
                <label class="mb-1" for="email">Email</label>
                <input placeholder="Ex: monadresse@gmail.com" type="email" class="form-control" id="email"
                       formControlName="email">
              </div>
              <div class="mb-3">
                <label class="mb-1" for="personToCall">Personne à contacter en cas Danger</label>
                <input placeholder="76 456 37 99" type="tel" class="form-control" id="personToCall"
                       formControlName="personToCall">
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-4 flex-fill">
          <div class="card">
            <div class="card-header">
              <h4>Profile</h4>
            </div>
            <div class="card-body">
              <div class="mb-3">
                <label class="mb-1" for="faculty">Faculté - Institut - Ecole</label>
                <input placeholder="Faculté" class="form-control" formControlName="faculty" id="faculty">
              </div>

              <div class="mb-3">
                <label class="mb-1" for="departmentOrYear">Département </label>
                <input placeholder="MPI" class="form-control" formControlName="departmentOrYear" id="departmentOrYear">
              </div>

                  <div  class="mb-3">
                    <label >Situation sociale</label>
                    <div *ngFor="let bourse of bourses" class="form-check">
                      <input class="form-check-input" type="radio" formControlName="bourse" id="bourse-{{bourse.bourseId}}" [value]="bourse.bourseId"/>
                      <label class="form-check-label" for="bourse-{{bourse.bourseId}}">
                        {{bourse.lebelle}}
                      </label>
                    </div>
                  </div>

              <!-- Avez-vous déjà participé aux activités de L’AEMUD --><div>

              <div class="mb-3" *ngIf="memberGroup.get('doYouParticipateAemudActivity')?.value=='yes'">
                <textarea placeholder="Précisez les activités auxquelles vous avez participé" class="form-control"
                          formControlName="participatedActivity" id="quelActive"></textarea>
              </div>
            </div>

              <!-- Suivez-vous les cours islamiques dispensés à la mosquée ?  -->
              <!-- Suivez-vous régulièrement d’autres cours islamiques ?  -->

              <div class="mb-3">
                <textarea *ngIf="memberGroup.get('doYouParticipatedOtherCourse')?.value=='yes'" placeholder="Précisez le(s) ici" class="form-control"
                          formControlName="otherCourseParticipated" id="autrecoursIslamiqueContent"> </textarea>
              </div>


              <div class="mb-3">
                <textarea *ngIf="memberGroup.get('areYouMemberOfPoliticOrganisation')?.value=='yes'" placeholder="Votre organisation politique" class="form-control"
                          formControlName="politicOrganisation" id="organisationPolitique"> </textarea>
              </div>

            </div>
          </div>
        </div>
        <div class="col-md-4 flex-fill">
          <div class="card">
            <div class="card-header">
              <h4>Situation dans l'association</h4>
            </div>
            <div class="card-body">
              <div class="mb-3">
                <label class="mb-1" for="yearOfMembership">Année d’adhésion</label>
                <input type="text" placeholder="Ex: 2022" class="form-control" formControlName="yearOfMembership"
                       id="yearOfMembership">
              </div>

              <div class="mb-3">
                <label class="mb-1" for="twinSname">Nom du jumeau</label>
                <input type="text" placeholder="Ex: Ahmad Dia" class="form-control" formControlName="twinsName"
                       id="twinSname">
              </div>

              <div class="mb-3">
                <label class="mb-1" for="commission">CommissionModel</label>
                <select formControlName="commission" id="commission" class="form-control">
                  <option value="none" disabled>--sectionnez--</option>
                  <option *ngFor="let commission of commissions" value="{{commission.id}}">{{commission.name}}
                  </option>
                </select>
              </div>

              <div class="mb-3">
                <label class="mb-1" for="club">ClubModel</label>
                <select formControlName="club" id="club" class="form-control">
                  <option value="none" selected>--sectionnez--</option>
                  <option *ngFor="let club of clubs" value="{{club.id}}">{{club.name}}</option>
                </select>
              </div>

              <div>

                <h5>INFORMATION</h5>
                <p>
                  En vous abonnant à la bibliothèque, vous
                  pouvez bénéficier de prêts à domicile de
                  livres islamiques, de brochures et de cas-
                  settes de nature différente (sermon, con-
                  férence, cours...)
                  NB : - Toute personne inscrite à l’AEMUD
                  est abonné à la bibliothèque, de même
                  qu’au journal trimestriel “l’étudiant musul-
                  man”
                  -La somme versée au moment de l’ins-
                  cription est répartie de la manière suivante
                  Total : deux mille francs CFA (2000 francs)
                  Droit d’abonnement à la bibliothèque : 500
                  Droit d’abonnement au journal : 1500 FCFA
                </p>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="pay" name="pay" value="pay" id="payYes">
                <label class="form-check-label" for="payYes">
                  Ouais
                </label>
              </div>
              <div class="form-check">
                <input class="form-check-input" type="radio" formControlName="pay" name="pay" value="no" id="payNo" checked>
                <label class="form-check-label" for="payNo">
                  Non
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
    <div class="row mt-2">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <button [disabled]="memberGroup.invalid" class="btn w-100 btn-outline-success">Enregister</button>
      </div>
      <div class="col-md-4"></div>
    </div>
  </form>
</div>
