<div class="container mt-2">
  <form [formGroup]="academicFormGroup" novalidate>
    <div class="card mb-4">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12">
            <div class="mb-3">
              <label for="studiesLevel" class="form-label">Niveau d'étude</label>
              <input
                type="text"
                id="studiesLevel"
                formControlName="studiesLevel"
                class="form-control"
                [ngClass]="{ 'is-invalid': academicFormGroup.get('studiesLevel')?.invalid && academicFormGroup.get('studiesLevel')?.touched }"
                placeholder="Niveau d'étude"
              />
              <div
                *ngIf="academicFormGroup.get('studiesLevel')?.invalid && academicFormGroup.get('studiesLevel')?.touched"
                class="invalid-feedback">
                L'année est requise.
              </div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-6">
            <div class="mb-3">
              <label for="institutionName" class="form-label">Université</label>
              <input
                type="text"
                id="institutionName"
                formControlName="institutionName"
                class="form-control"
                [ngClass]="{ 'is-invalid': academicFormGroup.get('institutionName')?.invalid && academicFormGroup.get('institutionName')?.touched }"
                placeholder="Entrez le nom de l'université"
              />
              <div
                *ngIf="academicFormGroup.get('institutionName')?.invalid && academicFormGroup.get('institutionName')?.touched"
                class="invalid-feedback">
                Le nom de l'université est requis et doit comporter au moins 3 caractères.
              </div>
            </div>
          </div>

          <div class="col-md-6">
            <div class="mb-3">
              <label for="studiesDomain" class="form-label">Domaine d'études</label>
              <input
                type="text"
                id="studiesDomain"
                formControlName="studiesDomain"
                class="form-control"
                [ngClass]="{ 'is-invalid': academicFormGroup.get('studiesDomain')?.invalid && academicFormGroup.get('studiesDomain')?.touched }"
                placeholder="Votre domaine d'études"
              />
              <div
                *ngIf="academicFormGroup.get('studiesDomain')?.invalid && academicFormGroup.get('studiesDomain')?.touched"
                class="invalid-feedback">
                Le domaine d'études  est requis et doit comporter au moins 3 caractères.
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
    <div *ngIf="!stepperData.academicInfoSaved" class="d-flex justify-content-end mt-4">
      <button class="btn btn-outline-success" (click)="onSave()" [disabled]="academicFormGroup.invalid"><i
        class="bi bi-floppy2"></i> Enregister
      </button>
    </div>
    <div *ngIf="stepperData.academicInfoSaved" class="d-flex justify-content-end mt-4">
      <button class="btn btn-outline-success" (click)="onModify()" [disabled]="academicFormGroup.invalid"><i
        class="bi bi-floppy2"></i> Modifier
      </button>
    </div>
  </form>
</div>



