<div class="mandat-form-container">
  <h2>{{ (periodeMandatId ? 'Modifier' : 'Ajouter') + ' une période de mandat' }}</h2>

  <form (ngSubmit)="onSubmit()" [formGroup]="periodeMandatForm">
    <div class="form-section">
      <h3>Informations Générales de la Période de Mandat</h3>
      <div class="form-group">
        <label for="nom">Nom de la période de mandat</label>
        <input formControlName="nom" id="nom" type="text">
        <div *ngIf="periodeMandatForm.get('nom')?.invalid && periodeMandatForm.get('nom')?.touched" class="error-message">
          Le nom de la période de mandat est requis.
        </div>
      </div>

      <div class="form-group">
        <label for="dateDebut">Date de début</label>
        <input formControlName="dateDebut" id="dateDebut" type="date">
        <div *ngIf="periodeMandatForm.get('dateDebut')?.invalid && periodeMandatForm.get('dateDebut')?.touched" class="error-message">
          La date de début est requise.
        </div>
      </div>

      <div class="form-group">
        <label for="dateFin">Date de fin</label>
        <input formControlName="dateFin" id="dateFin" type="date">
        <div *ngIf="periodeMandatForm.get('dateFin')?.invalid && periodeMandatForm.get('dateFin')?.touched" class="error-message">
          La date de fin est requise.
        </div>
      </div>

      <div class="form-group form-check">
        <input formControlName="estActive" id="estActive" type="checkbox">
        <label for="estActive">Période de mandat active</label>
      </div>
    </div>

    <div class="form-section">
      <h3>Gestion des Phases</h3>
      <div class="phase-mode-selector">
        <label class="mode-option">
          <input [value]="true" formControlName="calculatePhasesAutomatically" type="radio">
          <span>Génération Automatique</span>
        </label>
        <label class="mode-option">
          <input [value]="false" formControlName="calculatePhasesAutomatically" type="radio">
          <span>Gestion Manuelle</span>
        </label>
      </div>

      <div *ngIf="periodeMandatForm.get('calculatePhasesAutomatically')?.value === true" class="automatic-phase-options">
        <div class="form-group">
          <label for="numberOfPhases">Nombre de phases souhaité</label>
          <input formControlName="numberOfPhases" id="numberOfPhases" min="1" type="number">
          <small class="form-text">Laissez vide pour générer 2 phases de durée égale. Le système couvrira 100% de la
            période de mandat.</small>
        </div>
      </div>

      <div *ngIf="periodeMandatForm.get('calculatePhasesAutomatically')?.value === false" class="manual-phase-options">
        <ng-container *ngIf="periodeMandatForm.get('dateDebut')?.value && periodeMandatForm.get('dateFin')?.value">
          <app-phase-timeline
            [periodeMandatEndDate]="periodeMandatForm.get('dateFin')?.value!"
            [periodeMandatStartDate]="periodeMandatForm.get('dateDebut')?.value!"
            [phases]="timelinePhases">
          </app-phase-timeline>
        </ng-container>
        <ng-container *ngIf="!periodeMandatForm.get('dateDebut')?.value || !periodeMandatForm.get('dateFin')?.value">
          <p class="info-message">Veuillez définir les dates de début et de fin de la période de mandat pour gérer les phases
            manuellement.</p>
        </ng-container>


        <div formArrayName="phases">
          <div *ngFor="let phaseControl of phasesFormArray.controls; let i = index">
            <app-phase-form-item
              (delete)="removePhase(i)"
              [index]="i"
              [phaseForm]="phaseControl">
            </app-phase-form-item>
          </div>
        </div>

        <button (click)="addPhase()" class="add-phase-button" type="button">+ Ajouter une phase</button>
      </div>
    </div>

    <button [disabled]="periodeMandatForm.invalid" type="submit">Enregistrer</button>
  </form>
</div>
