@import '../../../../../assets/scss/variables';

:host {
  flex: 0 0 50%; // Changed from 40% to 50% for equal column width

  // Hide on medium screens and down
  @media (max-width: 992px) {
    display: none;
  }
}

.login-image-panel {
  width: 100%;
  height: 100%;
  background: url('../../../../../assets/background/fond.png') no-repeat center center;
  background-size: cover;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: $space-8 $space-12;
  text-align: center;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: $primary-500;
    opacity: 0.85;
  }

  .image-panel-top-content,
  .image-panel-bottom-content {
    position: relative;
    color: $white;
  }

  .image-panel-top-content {
    max-width: 80%;
    margin-bottom: $space-8;
  }

  .icon-showcase {
    position: relative;
    display: flex;
    justify-content: center;
    gap: $space-12;
    width: 100%;
    margin-bottom: $space-8;

    i {
      font-size: 2.8rem;
      color: $white;
      opacity: 0.8;
    }
  }

  .image-panel-bottom-content {
    max-width: 70%;
  }
}
