<nav class="navbar navbar-expand-lg navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="['/shared/home']">
      AEMUD</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: false }"
             routerLink="/shared/home">Acceil</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }"
             routerLink="/members/member/register-form">membres</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/welcome/member" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Cotisation</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/welcome/member" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Configuration</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/welcome/member" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Messagerie</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/welcome/member" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Jumellage</a>
        </li>
      </ul>
      <form class="d-flex">
        <button class="btn btn-outline-success" routerLink="/" type="submit" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Deconnexion</button>
      </form>
    </div>
  </div>
</nav>
