<div class="header-container">
  <div class="left-section">
    <div class="page-title">Les membres</div>
  </div>
  <div class="right-section">
    <button (click)="onAddMember()" class="action-button primary">
      <i class="bi bi-plus"></i> Ajouter un membre
    </button>
    <button class="action-button">
      <i class="bi bi-download"></i> Importer
    </button>
    <button class="action-button" (click)="exportTriggered.emit()">
      <i class="bi bi-upload"></i> Exporter
    </button>
    <div class="notification-container">
      <div class="notification-icon" (click)="togglePopover($event)">
        <i class="bi bi-bell"></i>
        <span class="badge"></span>
      </div>
      <app-notification-popover *ngIf="isPopoverOpen"></app-notification-popover>
    </div>
  </div>
</div>
