<div class="table-container">
  <table class="table table-hover align-middle table-borderless shadow-sm">
    <thead class="table-light">
    <tr>
      <th>
        <input
          type="checkbox"
          [checked]="isAllSelected$ | async"
          (change)="toggleSelectAll()">
      </th>
      <th><i class="bi bi-arrow-down-up sort-icon"></i> Prénom</th>
      <th><i class="bi bi-arrow-down-up sort-icon"></i> Nom</th>
      <th><i class="bi bi-arrow-down-up sort-icon"></i> Email</th>
      <th><i class="bi bi-arrow-down-up sort-icon"></i> Numéro de Téléphone</th>
      <th><i class="bi bi-arrow-down-up sort-icon"></i> Payement</th>
      <th><i class="bi bi-arrow-down-up sort-icon"></i> Inscription Status</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="loading">
      <tr app-skeleton-loader *ngFor="let row of skeletonRows"></tr>
    </ng-container>
    <ng-container *ngIf="!loading && hasMembers">
      <tr *ngFor="let member of members" (click)="navigateToMember(member.id)">
        <td>
          <input
            type="checkbox"
            [checked]="(selectedMemberIds$ | async)?.includes(member.id)"
            (change)="toggleMemberSelection(member.id)"
            (click)="$event.stopPropagation()">
        </td>
        <td>{{ member.personalInfo.firstname }}</td>
        <td>{{ member.personalInfo.name }}</td>
        <td>{{ member.contactInfo.email }}</td>
        <td>{{ member.contactInfo.numberPhone }}</td>
        <td>
            <span *ngIf="member.registration && member.registration.length > 0"
                  class="badge"
                  [ngClass]="{'bg-success': member.registration[0].statusPayment, 'bg-danger': !member.registration[0].statusPayment}">
              {{ member.registration[0].statusPayment ? 'Payé' : 'En attente' }}
            </span>
        </td>
        <td>
            <span *ngIf="member.registration && member.registration.length > 0" class="badge bg-primary">
              {{ member.registration[0].registrationStatus }}
            </span>
        </td>
        <td>
          <div class="kebab-menu">
            <button class="kebab-icon" (click)="$event.stopPropagation()">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="kebab-dropdown">
              <li><a href="#">Voir les détails</a></li>
              <li><a href="#">Modifier</a></li>
              <li><a href="#">Désactiver</a></li>
              <li><a href="#">Supprimer</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>

  <!-- Empty State -->
  <ng-container *ngIf="!loading && !hasMembers">
    <div class="empty-state-container">
      <i class="bi bi-people empty-state-icon"></i>
      <h2 class="empty-state-title">Aucun membre trouvé</h2>
      <p class="empty-state-text">
        Il semble qu'il n'y ait aucun membre à afficher pour le moment. Vous pouvez commencer par en ajouter un nouveau.
      </p>
      <button class="empty-state-button">
        <i class="bi bi-plus-lg"></i> Ajouter un membre
      </button>
    </div>
  </ng-container>
</div>
