<div class="table-container">
  <table class="table table-hover align-middle table-borderless shadow-sm">
    <thead class="table-light">
    <tr>
      <th>
        <input
          (change)="toggleSelectAll()"
          [checked]="isAllSelected$ | async"
          type="checkbox">
      </th>
      <th (click)="onSort('personalInfo.firstname')"
          [ngClass]="{'active-sort': (sortColumn$ | async) === 'personalInfo.firstname'}">
        <i [ngClass]="{
              'bi-arrow-down-up': (sortColumn$ | async) !== 'personalInfo.firstname',
              'bi-arrow-up': (sortColumn$ | async) === 'personalInfo.firstname' && (sortDirection$ | async) === 'asc',
              'bi-arrow-down': (sortColumn$ | async) === 'personalInfo.firstname' && (sortDirection$ | async) === 'desc'
           }"
           class="bi sort-icon"></i> Prénom
      </th>
      <th (click)="onSort('personalInfo.name')"
          [ngClass]="{'active-sort': (sortColumn$ | async) === 'personalInfo.name'}">
        <i [ngClass]="{
              'bi-arrow-down-up': (sortColumn$ | async) !== 'personalInfo.name',
              'bi-arrow-up': (sortColumn$ | async) === 'personalInfo.name' && (sortDirection$ | async) === 'asc',
              'bi-arrow-down': (sortColumn$ | async) === 'personalInfo.name' && (sortDirection$ | async) === 'desc'
           }"
           class="bi sort-icon"></i> Nom
      </th>
      <th (click)="onSort('contactInfo.email')"
          [ngClass]="{'active-sort': (sortColumn$ | async) === 'contactInfo.email'}">
        <i [ngClass]="{
              'bi-arrow-down-up': (sortColumn$ | async) !== 'contactInfo.email',
              'bi-arrow-up': (sortColumn$ | async) === 'contactInfo.email' && (sortDirection$ | async) === 'asc',
              'bi-arrow-down': (sortColumn$ | async) === 'contactInfo.email' && (sortDirection$ | async) === 'desc'
           }"
           class="bi sort-icon"></i> Email
      </th>
      <th><i class="bi bi-arrow-down-up sort-icon"></i> Numéro de Téléphone</th>
      <th>Action</th>
    </tr>
    </thead>
    <tbody>
    <ng-container *ngIf="loading">
      <tr *ngFor="let row of skeletonRows" app-skeleton-loader></tr>
    </ng-container>
    <ng-container *ngIf="!loading && hasMembers">
      <tr (click)="navigateToMember(member.id)" *ngFor="let member of members">
        <td>
          <input
            (change)="toggleMemberSelection(member.id)"
            (click)="$event.stopPropagation()"
            [checked]="(selectedMemberIds$ | async)?.includes(member.id)"
            type="checkbox">
        </td>
        <td>{{ member.personalInfo.firstname }}</td>
        <td>{{ member.personalInfo.name }}</td>
        <td>{{ member.contactInfo.email }}</td>
        <td>{{ member.contactInfo.numberPhone }}</td>

        <td>
          <div class="kebab-menu">
            <button (click)="$event.stopPropagation()" class="kebab-icon">
              <i class="bi bi-three-dots-vertical"></i>
            </button>
            <ul class="kebab-dropdown">
              <li><a href="#">Voir les détails</a></li>
              <li><a href="#">Modifier</a></li>
              <li><a href="#">Désactiver</a></li>
              <li><a href="#">Supprimer</a></li>
            </ul>
          </div>
        </td>
      </tr>
    </ng-container>
    </tbody>
  </table>

  <!-- Empty State -->
  <ng-container *ngIf="!loading && !hasMembers">
    <div class="empty-state-container">
      <i class="bi bi-people empty-state-icon"></i>
      <h2 class="empty-state-title">Aucun membre trouvé</h2>
      <p class="empty-state-text">
        Il semble qu'il n'y ait aucun membre à afficher pour le moment. Vous pouvez commencer par en ajouter un nouveau.
      </p>
      <button class="empty-state-button">
        <i class="bi bi-plus-lg"></i> Ajouter un membre
      </button>
    </div>
  </ng-container>
</div>
