<div class="modal-overlay">
  <div class="modal-container" role="document">
    <div class="modal-content">
      <!-- Modal Header -->
      <div class="modal-header">
        <h5 class="modal-title">Choisir un Template de Message</h5>
        <button (click)="close.emit()" type="button" class="btn-close" aria-label="Close">
          <i class="bi bi-x-lg"></i>
        </button>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <div class="search-bar-container">
          <i class="bi bi-search"></i>
          <input type="text" class="form-control" placeholder="Rechercher un template...">
        </div>

        <div class="template-list">
          <div class="template-item" *ngFor="let template of templates">
            <div class="template-details">
              <h6 class="template-title">{{ template.name }}</h6>
              <p class="template-preview">{{ template.content }}</p>
            </div>
            <button class="btn btn-primary btn-sm" (click)="selectTemplate(template)">Choisir</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>