<div class="form-group">
  <label class="form-label fw-bold">Sélectionnez des éléments</label>
  <div class="dropdown">
    <button class="btn btn-outline-primary dropdown-toggle w-100" type="button" id="dropdownMenuButton"
            data-bs-toggle="dropdown" aria-expanded="false">
      {{ getSelectedItems() || 'Sélectionnez...' }}
    </button>

    <ul class="dropdown-menu w-100 p-2 shadow" aria-labelledby="dropdownMenuButton">
      <li *ngFor="let item of items; let i = index" class="form-check">
        <input type="checkbox" class="form-check-input" id="item{{ i }}" [formControlName]="item.id">
        <label class="form-check-label ms-2" for="item{{ i }}">{{ item.name }}</label>
      </li>
    </ul>
  </div>
</div>
