<div class="sidebar-container">
  <!-- Header -->
  <div class="nav-header">
    <button class="toggle-btn" (click)="toggleCollapse()">
      <i class="bi bi-list"></i>
    </button>
  </div>

  <div class="nav-body">
    <nav class="navigation">
      <ul class="nav-items">
        <li class="nav-item">
          <a routerLink="/dashboard" routerLinkActive="active">
            <i class="bi bi-speedometer2"></i>
            <span class="nav-text">Dashboard</span>
          </a>
        </li>
      </ul>
    </nav>

    <nav class="navigation">
      <span>Gestions Des entités</span>
      <ul class="nav-items">
        <li class="nav-item">
          <a routerLink="/members" routerLinkActive="active">
            <i class="bi bi-people"></i>
            <span class="nav-text">Liste Membres</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/members/add" routerLinkActive="active">
            <i class="bi bi-person-plus"></i>
            <span class="nav-text">Ajouter un Membre</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#">
            <i class="bi bi-graph-up"></i>
            <span class="nav-text">Statistiques</span>
          </a>
        </li>
      </ul>
    </nav>

    <nav class="navigation">
      <span>Contributions</span>
      <hr>
      <ul class="nav-items">
        <li class="nav-item">
          <a routerLink="/contributions/new" routerLinkActive="active">
            <i class="bi bi-plus-circle"></i>
            <span class="nav-text">Nouvelle Contribution</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/contributions" routerLinkActive="active">
            <i class="bi bi-card-checklist"></i>
            <span class="nav-text">Liste des contributions</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#">
            <i class="bi bi-file-earmark-bar-graph"></i>
            <span class="nav-text">Rapports</span>
          </a>
        </li>
      </ul>
    </nav>
    <hr>

    <nav class="navigation">
      <span>Notifications</span>
      <ul class="nav-items">
        <li class="nav-item">
          <a routerLink="/notifications/sms" routerLinkActive="active">
            <i class="bi bi-chat-dots"></i>
            <span class="nav-text">SMS</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/notifications/emails" routerLinkActive="active">
            <i class="bi bi-envelope"></i>
            <span class="nav-text">Emails</span>
          </a>
        </li>
      </ul>
    </nav>
    <hr>

    <nav class="navigation">
      <span>Paramètres</span>
      <ul class="nav-items">
        <li class="nav-item">
          <a routerLink="/users" routerLinkActive="active">
            <i class="bi bi-people-fill"></i>
            <span class="nav-text">Utilisateurs</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/roles" routerLinkActive="active">
            <i class="bi bi-person-check"></i>
            <span class="nav-text">Gestions des Rôles</span>
          </a>
        </li>
        <li class="nav-item">
          <a href="#">
            <i class="bi bi-hdd"></i>
            <span class="nav-text">Sauvegarde</span>
          </a>
        </li>
      </ul>
    </nav>
    <hr>

     <nav class="navigation">
      <span>Gestions Des entités</span>
      <ul class="nav-items">
        <li class="nav-item">
          <a routerLink="/bourses" routerLinkActive="active">
            <i class="bi bi-award"></i>
            <span class="nav-text">Bourses</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/commissions" routerLinkActive="active">
            <i class="bi bi-briefcase"></i>
            <span class="nav-text">Commissions</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/clubs" routerLinkActive="active">
            <i class="bi bi-collection"></i>
            <span class="nav-text">Clubs</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/sessions" routerLinkActive="active">
            <i class="bi bi-calendar-event"></i>
            <span class="nav-text">Sessions</span>
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/activities" routerLinkActive="active">
            <i class="bi bi-controller"></i>
            <span class="nav-text">Activités</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="user-profile">
    <div class="user-info">
      <i class="bi bi-person-fill"></i>
      <div class="user-details">
        <div class="user-name">Olivia Williams</div>
        <div class="user-role">Admin</div>
      </div>
    </div>

    <button class="logout-btn" (click)="logout()">
      <i class="bi bi-box-arrow-right"></i> <span>Logout</span>
    </button>
  </div>
</div>
