// src/styles.scss

@import 'variables';
@import "bootstrap-icons/font/bootstrap-icons.css";
@import 'ngx-toastr/toastr';

// Styles globaux
body {
  background-color: $background-color;
  color: $text-color;
}

a {
  color: $primary;

  &:hover {
    color: $hover-color;
  }
}

// Thème sombre
.dark-theme {
  background-color: $dark-background-color;
  color: $dark-text-color;

  a {
    color: lighten($primary, 10%);

    &:hover {
      color: $dark-hover-color;
    }
  }
}


