<div class="container">
  <!-- Zone recherche -->
  <div class="filters">
    <div class="search-input-group">
      <input type="text" [(ngModel)]="searchTerm" placeholder="Search orders..." (keyup.enter)="applySearchTerm()">
      <button class="search-icon-btn" (click)="applySearchTerm()">
        <i class="bi bi-search"></i>
      </button>
      <i class="bi bi-x-circle-fill clear-search-icon" *ngIf="searchTerm" (click)="clearSearchTerm()"></i>
    </div>
  </div>

  <!-- Bouton filtres -->
  <button class="filter-btn" [class.active]="filtersActive">
    <i class="bi bi-funnel"></i> Filters <span *ngIf="filtersActive">({{activeFilterCount}})</span>
  </button>

  
</div>
