<div class="login-form-content">
  <img alt="AEMUD Logo" class="logo" src="assets/background/logo_aemud_Plan_de_travail_1.png">
  <h2 class="form-title">Content de vous revoir !</h2>
  <p class="form-subtitle">Connectez-vous pour accéder à votre espace.</p>

  <div class="card shadow-lg">
    <div class="card-body p-4">
      <form (ngSubmit)="handleLogin()" [formGroup]="formGroup">
        <div>
          <label class="form-label">Nom d'utilisateur</label>
          <input class="form-control" formControlName="username">
        </div>
        <div class="mt-3">
          <label class="form-label">Mot de passe</label>
          <input class="form-control" formControlName="password" type="password">
        </div>
        <div class="mt-2 text-end">
          <a [routerLink]="['/auth', 'password-forgotten']">Mot de passe oublié ?</a>
        </div>
        <div>
          <button [disabled]="formGroup.invalid || (loading$ | async)"
                  class="btn-connexion mt-3 w-100 btn btn-primary btn-lg"
                  type="submit">
            <span *ngIf="loading$ | async" aria-hidden="true" class="spinner-border spinner-border-sm"
                  role="status"></span>
            Connexion
          </button>
        </div>
      </form>
    </div>
  </div>
</div>

