<div class="card">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h5 class="mb-0">Liste des bourses</h5>
    <button class="btn btn-primary btn-sm" (click)="openBourseModal()">
      <i class="bi bi-plus-lg me-2"></i>
      Ajouter une bourse
    </button>
  </div>
  <div class="card-body">
    <div *ngIf="bourses$ | async as bourses; else loading">
      <div *ngIf="bourses.length > 0; else emptyState" class="table-responsive">
        <table class="table table-striped table-hover">
          <thead>
            <tr>
              <th scope="col">Type</th>
              <th scope="col">Montant</th>
              <th scope="col" class="text-end">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let bourse of bourses">
              <td>{{ bourse.type }}</td>
              <td>{{ bourse.amount | currency:'XAF':'symbol':'1.0-0' }}</td>
              <td class="text-end">
                <button class="btn btn-link btn-sm text-primary" (click)="openBourseModal(bourse)">
                  <i class="bi bi-pencil-fill"></i>
                </button>
                <button class="btn btn-link btn-sm text-danger" (click)="openDeleteConfirm(bourse)">
                  <i class="bi bi-trash-fill"></i>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #emptyState>
        <div class="text-center p-5">
          <p class="text-muted">Aucune bourse n'a été ajoutée pour le moment.</p>
        </div>
      </ng-template>
    </div>
    <ng-template #loading>
      <app-skeleton-loader [isLoading]="true"></app-skeleton-loader>
    </ng-template>
  </div>
</div>

<!-- Modale pour Ajouter/Modifier une bourse -->
<app-modal [isOpen]="isModalOpen" (closeModal)="closeBourseModal()" [title]="selectedBourse ? 'Modifier la bourse' : 'Ajouter une bourse'">
  <app-bourse-form
    [bourse]="selectedBourse"
    [isSaving]="isSaving"
    (save)="onSaveBourse($event)"
    (closeModal)="closeBourseModal()">
  </app-bourse-form>
</app-modal>

<!-- Modale de confirmation de suppression -->
<app-confirm-delete-modal
  [isOpen]="isConfirmOpen"
  (closeModal)="closeDeleteConfirm()"
  (confirmDelete)="onDeleteBourse()">
</app-confirm-delete-modal>